.nav-link {
    margin-right: 1em;
}

#entries li {

    padding: 5px;
    display: grid;
    border-radius: 10px;
    align-items: flex-start;
    min-height: 3em;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 1em;
    
}

#journals li {

    padding: 15px;
    display: grid;
    border-radius: 10px;
    align-items: flex-start;
    min-height: 3em;
    border-style: solid;
    border-width: 2px;
    margin-bottom: 1em;
    
}